body {
  margin: 0;
  font-family: Arial;
  color: black;
}

.topnav {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #3e3d3d;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  color: white;
  text-shadow: -2px 0 rgb(193, 25, 208), 0 2px rgb(206, 17, 181),
    2px 0 rgb(206, 17, 181), 0 -2px rgb(206, 17, 181);
}

/*Field section*/
.field {
  padding-top: 10px;
  display: flex;
  padding-left: 10px;
}

.field_selector {
  width: 100px;
}
.field_selector:hover {
  font-weight: bold;
}

.split {
  height: 80vh;
  bottom: 0;
  width: 50%;
  position: fixed;
  overflow-x: hidden;
}

.left {
  background-color: black !important;
  display: inline-block;
}

.img {
  opacity: 20%;
}

.right {
  right: 0;
  background-color: red;
}

.field_class {
  padding-top: 20px;
  text-align: center;
}

canvas {
  /* for display purposes */
  display: inline-block;
}

.centered {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 70vh;
  transform: rotate(90deg);
  opacity: 20%;
}
